*build
*.vscode
*.json
*.csv
debug_data/
saved_param/
kernel_playground/
__pycache__/
*.DS_Store
*.pyc
pytagi.egg-info
dist
data/cifar
data/mnist/MNIST
data/traffic
test_model/
*ncu-rep
*sys-rep
*sqlite

!test/data/*.csv
!test/act_func/data/*.csv
!test/autoencoder/data/*.csv
!test/cnn/data/*.csv
!test/cnn_batch_norm/data/*.csv
!test/fnn_derivatives/data/*.csv
!test/fnn/data/*.csv
!test/fnn_full_cov/data/*.csv
!test/fnn_heteros/data/*.csv
!test/lstm/data/*.csv
!data/toy_time_series_smoother/*.csv