# test/data/*.csv  -crlf -diff -merge -text -filter=lfs -binary
# test/act_func/data/*.csv  -crlf -diff -merge -text -filter=lfs -binary
# test/autoencoder/data/*.csv  -crlf -diff -merge -text -filter=lfs -binary
# test/cnn/data/*.csv  -crlf -diff -merge -text -filter=lfs -binary
# test/cnn_batch_norm/data/*.csv  -crlf -diff -merge -text -filter=lfs -binary
# test/fnn/data/*.csv  -crlf -diff -merge -text -filter=lfs -binary
# test/fnn_derivatives/data/*.csv  -crlf -diff -merge -text -filter=lfs -binary
# test/fnn_full_cov/data/*.csv  -crlf -diff -merge -text -filter=lfs -binary
# test/fnn_heteros/data/*.csv  -crlf -diff -merge -text -filter=lfs -binary
# test/lstm/data/*.csv  -crlf -diff -merge -text -filter=lfs -binary