test/data/*.csv  -crlf -diff -merge -filter=lfs -binary
test/act_func/data/*.csv  -crlf -diff -merge -filter=lfs -binary
test/autoencoder/data/*.csv  -crlf -diff -merge -filter=lfs -binary
test/cnn/data/*.csv  -crlf -diff -merge -filter=lfs -binary
test/cnn_batch_norm/data/*.csv  -crlf -diff -merge -filter=lfs -binary
test/fnn/data/*.csv  -crlf -diff -merge -filter=lfs -binary
test/fnn_derivatives/data/*.csv  -crlf -diff -merge -filter=lfs -binary
test/fnn_full_cov/data/*.csv  -crlf -diff -merge -filter=lfs -binary
test/fnn_heteros/data/*.csv  -crlf -diff -merge -filter=lfs -binary
test/lstm/data/*.csv  -crlf -diff -merge -filter=lfs -binary
data/mnist/*.ubyte -crlf -diff -merge -filter=lfs -binary
data/toy_example/*.csv -crlf -diff -merge -filter=lfs -binary
data/toy_time_series/*.csv -crlf -diff -merge -filter=lfs -binary
data/UCI/*.csv -crlf -diff -merge -filter=lfs -binary
data/Boston_housing/data/*.txt -crlf -diff -merge -filter=lfs -binary