*build
*.vscode
*.json
*.csv
debug_data/
saved_param/
__pycache__/
*.DS_Store
*.pyc
pytagi.egg-info
dist
!test/data/*.csv
!test/act_func/data/*.csv
!test/autoencoder/data/*.csv
!test/cnn/data/*.csv
!test/cnn_batch_norm/data/*.csv
!test/fnn_derivatives/data/*.csv
!test/fnn/data/*.csv
!test/fnn_full_cov/data/*.csv
!test/fnn_heteros/data/*.csv
!test/lstm/data/*.csv
cuda-repo-ubuntu2004-12-3-local_12.3.2-545.23.08-1_amd64.deb
cuda-repo-ubuntu2004-12-3-local_12.3.2-545.23.08-1_amd64.deb.1
cuda-ubuntu2004.pin
