prune data/*
global-exclude __pycache__/*
global-exclude *.py[cod]
exclude saved_param/*
exclude examples/*
exclude saved_results/*
prune debug_data/*
exclude cfg/*
graft extern/pybind11/include
graft extern/pybind11/tools
include LICENSE README.md pyproject.toml setup.py setup.cfg
include pytagi/version.txt
include extern/action_scripts/install_cuda_ubuntu.sh
include extern/action_scripts/LICENSE
include extern/pybind11/LICENSE
global-include CMakeLists.txt *.cmake
